*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    /* background: orange; */
}

.main_div.container{
    max-width: 380px;
    margin: auto;
}

.main_div{
    position: relative;
    top: 20px;
    /* border-radius: 10px; */
    /* border: 2px solid white; */
    border-radius: 50px;
    min-height: 90vh;
    background: black;
    /* border-bottom: 5px solid yellow; */
    
}

.sub_div{
    margin: auto;
    /* background: orange; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#operatingArea {
    height: 150px;
    position: relative;
}

#result{
    position: absolute;
    top: 95%;
    right: 7%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}



#inputValue{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#inputValue button{
    height: 80px;
    width: 80px;    
    border-radius: 50%;
    border: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: white;
}


#inputValue button:nth-child(1),
#inputValue button:nth-child(2),
#inputValue button:nth-child(3)
{
    background: #D4D4D2;
    color: black;
}

#inputValue button:nth-child(4),
#inputValue button:nth-child(8),
#inputValue button:nth-child(12),
#inputValue button:nth-child(16),
#inputValue button:nth-child(20){
    background: #F1A33C;
    font-size: 20px;
    font-weight: 100;
}




